<form action="" id="filter-form" class="d-flex mt-4">
    <select name="region" id="region-selector" class="form-control">
        <option value="">Elige una región</option>
    </select>

    <select name="province" id="province-selector" class="hidden form-control">
    </select>

    <select name="municipio" id="municipio-selector" class="hidden form-control">
    </select>

    <select name="fuel" id="fuel-selector" class="form-control">
        <option value="">Tipo de combustible</option>
    </select>

    <button id="query-button" class="btn btn-primary">Buscar</button>
</form>


{{!-- 
Not sure on the performance of this
Maybe it's better to deploy the data on mongo db 
--}}
