<div class="container d-flex flex-column justify-content-center">
    <div id="mapid"></div>

    {{> locationFilter}}
</div>


<script src="/js/geoportal.codes.js"></script>
<script src="/js/filter.helper.js"></script>
<script src="/js/query.helper.js"></script>
<script src="/js/map.js"></script>
