<div id="mapid"></div>
<div class="container d-flex flex-column justify-content-center">
    {{> locationFilter}}
</div>

<script src="/js/geoportal.codes.js"></script>
<script src="/js/filter.helper.js"></script>
<script src="/js/query.helper.js"></script>
<script src="/js/map.js"></script>
