<div id="mapid"></div>

<div>hola</div>

<select name="CCAA-selector" id="CCAA-selector">
    <option value="10">Comunidad Valenciana</option>
    <option value="12">Galicia</option>
    <option value="13">Comunidad de Madrid</option>
</select>

<div>
    <input id="country-name-input" type="text" />
    <button id="get-country-btn">Get the country</button>
</div>
 
<h2 id="country-name"></h2>
    <p id="country-capital"></p>
<div>
    <img id="country-flag" src="" height="200px"/>
</div>

