<div class="container card mt-5">
    <h1 class="text-center pt-3">{{station['Rótulo']}} {{station['Dirección']}}</h1>

    <hr>

    <article class="ml-2">
        <h2>Data</h2>
        <ul>
            <li>prices</li>
            <li>more prices</li>
        </ul>
    </article>

    <hr>

    <article class="ml-2">
        <h3>Reviews</h3>
        <ul>
            <li>This sucks!</li>
        </ul>
    </article>
</div>