body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    height: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

a {
    padding: 0 1rem;
}

.form-wrapper {
    width: 50vw;
    margin-bottom: 8rem;
    display: flex;
    justify-content: center;
}

/*STATION LIST*/
.station-properties span {
    color: #4c4c4c;
    text-decoration: underline;
}

.card-title{
    text-align: center;
    color: blue;
}

.station-properties {
    line-height: 1.7rem;
}

.station-properties li {
    padding: 0.5rem;
}