 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    height: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

a {
    padding: 0 1rem;
}

.hidden {
    display: none !important;
}

.form-wrapper {
    width: 50vw;
    margin-bottom: 8rem;
    display: flex;
    justify-content: center;
} 

#mapid { 
    height: 76vh;
    margin-top: -2rem;

}

.hidden {
    display: none;
}

.form-control {
    margin: 0 0.3rem;
}

 #query-button::before{
    content: "\f002";
    font-family: FontAwesome;
    padding-right: 0.6rem;
 }

 .station-title h1 {
     font-size: 2.3rem;
 }

.review-avatar-img {
    height: 4rem;
}

.btn-station {
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
    outline: inherit;
}

.btn-station span i {
    color: yellow;
}

#edit-form {
    width: 90%;
}