/* body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    height: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

a {
    padding: 0 1rem;
}

.form-wrapper {
    width: 50vw;
    margin-bottom: 8rem;
    display: flex;
    justify-content: center;
} */

#mapid { 
    height: 400px;
}

.hidden {
    display: none;
}

.form-control {
    margin: 0 0.3rem;
}

 #query-button::before{
    content: "\f002";
    font-family: FontAwesome;
    padding-right: 0.6rem;
 }
