
.hidden {
    display: none !important;
}

.form-wrapper {
    width: 300px;
    height: 72.4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mapid { 
    height: 50vh;
}

.card {
    background-color: #BCBEC0;
}

.hidden {
    display: none;
}

.form-control {
    margin: 0 0.3rem;
}

#query-button::before {
    content: "\f002";
    font-family: FontAwesome;
    padding-right: 0.6rem;
 }

.station-title h1 {
     font-size: 2.3rem;
 }

.btn-station {
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
    outline: inherit;
}

#adress h4 {
    text-align: right;
}

button:focus {
    outline:none
}

#gasoil {
    background-color: #F7941D;
    padding: 10px 50px;
    border-radius: 10px;
    text-align: center;
}

#petrol {
    background-color: #F7941D;
    padding: 10px 50px;
    border-radius: 10px;
    text-align: center;
}

#review {
    background-color: #FFF;
    border-radius: 5px;
    padding: 0px 20px;
}

#name {
    color: #F7941D;
}

.btn-rating {
    color: #fde400;
}

#btn-favorite {
    color: #c40000;
    border: none;
}
#btn-favorite:active {
    border: none;
}

.active {
    border: 1px solid #fde400;
}

#edit-form {
    width: 90%;
}

.warning {
    border: 1px dashed red;
}

a {
    color:#6c757d;
}
a:hover {
    color:#F7941D;
}

.custom-popup .leaflet-popup-content-wrapper {
    color:#F7941D;
    font-size:12px;
    text-align: center;
}

.custom-popup .leaflet-popup-content-wrapper a {
    color:#6c757d;
}

.leaflet-popup-close-button {
    display: none; 
}

.btn.btn-primary {
    background-color:#6c757d;
    box-shadow: #F7941D;
    border: 0;
    margin: 3px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #F7941D !important;
    outline: none !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #F7941D !important;
}

.form-control:focus {
    border-color: #F7941D;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #F7941D;
}

.form-control {
    margin: 3px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #6c757d;
    color: #FFF;
    text-align: center;
    margin-top: 100px;
 }
footer p {
    margin-top: 10px;
}

.avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 10px;
}

.review-avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
}

.favorites a {
    text-decoration: none;
    color: #000;
}

.favorites {
    padding: 10px;
    background-color: #BCBEC0;
    border-radius: 10px;
}

.favorites:hover {
    padding: 10px;
    background-color: #F7941D;
    border-radius: 10px;
}

.fav-container , .card-details{
    margin-bottom:100px;
}

.station-title {
    color: #F7941D;
    padding-top: 50px;
}

