<div class="alert alert-primary" role="alert">
    <p>Your email is not verified yet! Please verify your email so you can discover all of our features :D</p>
    <a href="/users/email" class="alert-link">Send email again</a>
</div>